# Виртуальное окружение
.venv/
venv/
env/
ENV/

# Файлы Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# Временные файлы
uploads/
results/
*.jpg
*.png
!example.png

# IDE
.idea/
.vscode/
*.swp

# Модели
*.safetensors