# Виртуальное окружение
generationBackend/api/.venv/
generationBackend/api/venv/
generationBackend/comfyui/comfy_venv/

# Файлы Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# Временные файлы
generationBackend/api/uploads/
generationBackend/api/results/
*.jpg
*.png

# IDE
.idea/
.vscode/
*.swp

# Модели
*.safetensors